# Data analysis

In [2]:
# import pandas, scipy, numpy, matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

## Data Import

In [5]:
os = pd.read_csv('OSMI_Survey_Data.csv')

In [6]:
os.shape

(60186, 28)

In [8]:
os.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60186 entries, 0 to 60185
Data columns (total 28 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   index                                                                                       60186 non-null  int64
 1   ResponseID                                                                                  60186 non-null  object
 2   Are you selfemployed                                                                        60186 non-null  bool
 3   How many employees does your company or organization have                                   48132 non-null  object
 4   Is your employer primarily a tech companyorganization                                       48132 non-null  object
 5   Is your primary role within your company related to techIT                                  11046 non-null  object
 6   Do you have previous employers                                                              60186 non-null  bool
 7   Do you have a family history of mental illness                                              60186 non-null  object
 8   Have you had a mental health disorder in the past                                           60186 non-null  object
 9   Do you currently have a mental health disorder                                              60186 non-null  object
 10  If yes, what conditions have you been diagnosed with                                        23856 non-null  object
 11  If maybe, what conditions do you believe you have                                           13524 non-null  object
 12  Have you been diagnosed with a mental health condition by a medical professional            60186 non-null  bool
 13  If so, what conditions were you diagnosed with                                              29862 non-null  object
 14  Have you ever sought treatment for a mental health issue from a mental health professional  60186 non-null  bool
 15  What is your age                                                                            60102 non-null  float64
 16  What is your gender                                                                         60186 non-null  object
 17  Age Group                                                                                   60186 non-null  object
 18  What country do you live in                                                                 60186 non-null  object
 19  What US state or territory do you live in                                                   35280 non-null  object
 20  What country do you work in                                                                 60186 non-null  object
 21  What US state or territory do you work in                                                   35742 non-null  object
 22  Which of the following best describes your work position                                    60186 non-null  object
 23  Do you work remotely                                                                        60186 non-null  object
 24  Question Group                                                                              51588 non-null  object
 25  Question about speaking openly about mental health vs physical health                       60186 non-null  object
 26  Question                                                                                    60186 non-null  object
 27  Response                                                                                    43846 non-null  object
dtypes: bool(4), float64(1), int64(1), object(22)
memory usage: 11.3+ MB

In [14]:
# Rename columns to be more intuitive
os.columns = ['index', 'ResponseID', "Self_employed", "Size_company", "Tech_company", "TechIT_Job", "Previous_employer", "Family_hist", "Past_MentalHealth", "Current_MentalHealth", "Yes_Current_Conditions", "Maybe_Believed_Conditions", "Med_Prof_Diagnose", "Diagnosed_Conditions", "Sought_Treatment", "Age", "Gender", "Age_Group", "Country_live", "US_State/territory_live", "Country_work", "US_State/territory_work", "Work_description", "Remotely", "Question Group", "Speak_openly", "Question", "Response"]

In [19]:
# show the columns now
os.columns

Index(['index', 'ResponseID', 'Self_employed', 'Size_company', 'Tech_company',
       'TechIT_Job', 'Previous_employer', 'Family_hist', 'Past_MentalHealth',
       'Current_MentalHealth', 'Yes_Current_Conditions',
       'Maybe_Believed_Conditions', 'Med_Prof_Diagnose',
       'Diagnosed_Conditions', 'Sought_Treatment', 'Age', 'Gender',
       'Age_Group', 'Country_live', 'US_State/territory_live', 'Country_work',
       'US_State/territory_work', 'Work_description', 'Remotely',
       'Question Group', 'Speak_openly', 'Question', 'Response'],
      dtype='object')

In [20]:
# show the first 5 rows
os.head()

,index,ResponseID,Self_employed,Size_company,Tech_company,TechIT_Job,Previous_employer,Family_hist,Past_MentalHealth,Current_MentalHealth,...,Country_live,US_State/territory_live,Country_work,US_State/territory_work,Work_description,Remotely,Question Group,Speak_openly,Question,Response
0,0,r00000,False,26-100,True,NaN,True,No,Yes,No,...,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,Resources for employees with mental health dis...,No,Does your employer provide mental health benef...,Not eligible for coverage / N/A
1,1,r00000,False,26-100,True,NaN,True,No,Yes,No,...,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,Resources for employees with mental health dis...,No,Do you know the options for mental health care...,NaN
2,2,r00000,False,26-100,True,NaN,True,No,Yes,No,...,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,Safe and supportive workplce for those with me...,No,Has your employer ever formally discussed ment...,No
3,3,r00000,False,26-100,True,NaN,True,No,Yes,No,...,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,Resources for employees with mental health dis...,No,Does your employer offer resources to learn mo...,No
4,4,r00000,False,26-100,True,NaN,True,No,Yes,No,...,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes,Resources for employees with mental health dis...,No,Is your anonymity protected if you choose to t...,I don't know

## Caregorical data

In [17]:
# show first 5 rows of have you ever been diagnosed with a mental health disorder by a medical professional
os['Med_Prof_Diagnose'].head()

0    True
1    True
2    True
3    True
4    True
Name: Med_Prof_Diagnose, dtype: bool

- What are the two categories and the counts of these for medical professional diagnosis of a mental health disorder?

In [18]:
# What are the distinct values for have you been diagnosed with a mental health disorder by a medical professional
os['Med_Prof_Diagnose'].value_counts()

Med_Prof_Diagnose
False    30114
True     30072
Name: count, dtype: int64

- Here are the percetanges

In [22]:
# Calculate the proportions of the ones that have been diagnosed nd make percentages
os['Med_Prof_Diagnose'].value_counts(normalize=True) * 100

Med_Prof_Diagnose
False    50.034892
True     49.965108
Name: proportion, dtype: float64

- Look at the counts for tech company vs non tech

In [24]:
# Calculate frequency of tech company
os['Tech_company'].value_counts()

Tech_company
True     37086
False    11046
Name: count, dtype: int64

In [25]:
# calculate the percentage of tech company
os['Tech_company'].value_counts(normalize=True) * 100

Tech_company
True     77.050611
False    22.949389
Name: proportion, dtype: float64

- Now we will compare the counts of diagnosis related to whether or not they work for a tech company

In [34]:
# Make a neat table with tech company and diagnosis counts
pd.crosstab(os['Tech_company'], os['Med_Prof_Diagnose'])

Med_Prof_Diagnose  False  True
Tech_company
False               5460   5586
True               18858  18228

- Here is another comparison of two categorical variables: Country you work in and Mental Health diagnosis

In [38]:
# Calculate the frequency of each Coutnry you work in
os['Country_work'].value_counts()

Country_work
United States of America    35742
United Kingdom               7686
Canada                       3108
Germany                      2436
Netherlands                  1974
Australia                    1428
Sweden                        840
Ireland                       630
France                        588
Switzerland                   420
Brazil                        420
India                         378
Russia                        378
New Zealand                   378
Denmark                       294
Bulgaria                      294
Finland                       294
Belgium                       210
South Africa                  168
Poland                        168
Austria                       168
Czech Republic                126
Italy                         126
Chile                         126
Norway                        126
Romania                       126
Spain                         126
Other                          84
Bosnia and Herzegovina         84
Afghanistan                    84
Pakistan                       84
Israel                         84
Estonia                        84
Colombia                       84
Mexico                         84
Slovakia                       42
United Arab Emirates           42
Serbia                         42
Guatemala                      42
Lithuania                      42
China                          42
Venezuela                      42
Ecuador                        42
Japan                          42
Hungary                        42
Vietnam                        42
Iran                           42
Brunei                         42
Argentina                      42
Greece                         42
Costa Rica                     42
Bangladesh                     42
Turkey                         42
Name: count, dtype: int64

In [39]:
# Compare the frequency of each country you work in with the frequency of tech company
pd.crosstab(os['Country_work'], os['Tech_company'])

Tech_company              False  True
Country_work
Afghanistan                   0     42
Argentina                     0     42
Australia                   210    882
Austria                       0     42
Bangladesh                    0     42
Belgium                       0    126
Bosnia and Herzegovina       42     42
Brazil                      168    210
Bulgaria                      0    252
Canada                      378   2184
Chile                        42     84
Colombia                     42     42
Czech Republic                0     42
Denmark                      42    168
Ecuador                       0     42
Estonia                       0     84
Finland                      84    126
France                       42    420
Germany                     378   1470
Hungary                       0     42
India                         0    294
Iran                          0     42
Ireland                      84    336
Israel                        0     84
Italy                        42     84
Japan                        42      0
Mexico                       84      0
Netherlands                 378    924
New Zealand                   0    252
Norway                       42     84
Other                         0     42
Pakistan                      0     84
Poland                       42     42
Romania                       0     42
Russia                        0    378
Slovakia                      0     42
South Africa                 84     84
Spain                         0     84
Sweden                      126    504
Switzerland                  84    168
United Arab Emirates          0     42
United Kingdom             1512   4074
United States of America   7098  22974
Vietnam                       0     42

- Here is a frequency table of mental health diagnosis in the different countries

In [40]:
# Compare the frequency of each country you work in with the frequency of mental health diagnosis
pd.crosstab(os['Country_work'], os['Med_Prof_Diagnose'])

Med_Prof_Diagnose         False  True
Country_work
Afghanistan                   0     84
Argentina                    42      0
Australia                   462    966
Austria                      42    126
Bangladesh                    0     42
Belgium                     126     84
Bosnia and Herzegovina       84      0
Brazil                      252    168
Brunei                       42      0
Bulgaria                    252     42
Canada                     1848   1260
Chile                        84     42
China                        42      0
Colombia                     84      0
Costa Rica                   42      0
Czech Republic               84     42
Denmark                     168    126
Ecuador                       0     42
Estonia                      84      0
Finland                     168    126
France                      462    126
Germany                    1554    882
Greece                       42      0
Guatemala                     0     42
Hungary                       0     42
India                       252    126
Iran                         42      0
Ireland                     294    336
Israel                       42     42
Italy                       126      0
Japan                        42      0
Lithuania                    42      0
Mexico                       84      0
Netherlands                 966   1008
New Zealand                 210    168
Norway                       84     42
Other                        42     42
Pakistan                     42     42
Poland                      126     42
Romania                      84     42
Russia                      378      0
Serbia                       42      0
Slovakia                     42      0
South Africa                168      0
Spain                        84     42
Sweden                      546    294
Switzerland                 168    252
Turkey                       42      0
United Arab Emirates          0     42
United Kingdom             4368   3318
United States of America  15750  19992
Venezuela                    42      0
Vietnam                      42      0

- This table also lists the countries and the diagnosis but limits it to only participants who work at tech companies

In [41]:
# Add onto the previous table a limiting factor that they must work in a tech company
pd.crosstab(os['Country_work'], os['Med_Prof_Diagnose'], values=os['Tech_company'], aggfunc='sum')

Med_Prof_Diagnose         False  True
Country_work
Afghanistan                 NaN     42
Argentina                    42    NaN
Australia                   294    588
Austria                       0     42
Bangladesh                  NaN     42
Belgium                      84     42
Bosnia and Herzegovina       42    NaN
Brazil                      168     42
Brunei                        0    NaN
Bulgaria                    210     42
Canada                     1218    966
Chile                        84      0
China                         0    NaN
Colombia                     42    NaN
Costa Rica                    0    NaN
Czech Republic                0     42
Denmark                      84     84
Ecuador                     NaN     42
Estonia                      84    NaN
Finland                      42     84
France                      336     84
Germany                     924    546
Greece                        0    NaN
Guatemala                   NaN      0
Hungary                     NaN     42
India                       252     42
Iran                         42    NaN
Ireland                     210    126
Israel                       42     42
Italy                        84    NaN
Japan                         0    NaN
Lithuania                     0    NaN
Mexico                        0    NaN
Netherlands                 546    378
New Zealand                 126    126
Norway                       42     42
Other                        42      0
Pakistan                     42     42
Poland                        0     42
Romania                      42      0
Russia                      378    NaN
Serbia                        0    NaN
Slovakia                     42    NaN
South Africa                 84    NaN
Spain                        42     42
Sweden                      294    210
Switzerland                  84     84
Turkey                        0    NaN
United Arab Emirates        NaN     42
United Kingdom             2394   1680
United States of America  10374  12600
Venezuela                     0    NaN
Vietnam                      42    NaN

## Comparative numerical analysis

- First, here are some statistics on age

In [35]:
# Give age statistics
os['Age'].describe()

count    60102.000000
mean        34.106219
std          8.283055
min         15.000000
25%         28.000000
50%         33.000000
75%         39.000000
max         99.000000
Name: Age, dtype: float64

- Next we will compare age and professional mental health diagnosis

In [36]:
# Calculate the mean age for each category of mental health diagnosis
os.groupby('Med_Prof_Diagnose')['Age'].mean()

Med_Prof_Diagnose
False    33.537709
True     34.675524
Name: Age, dtype: float64

- Looks to be about the same maybe they are not associated

## Numerical data analysis

- Since my dataset only has one numerical column I cannot compare two of them