# Week 9
## Working with ICU mortality data
- This project is meant to learn how to work with packages with a separate data set

## Importing packages

In [ ]:
import pandas as pd
from scipy import stats

## Data import

In [15]:
# Import the ICU_Mortality from environment into a pandas DataFrame
df = pd.read_csv('ICU_Mortality.csv')

In [16]:
# veriify the size of df
df.shape

(311, 6)

In [17]:
# show the column headers
df.columns

Index(['Mortality', 'Age', 'WCC', 'HB', 'Diabetes', 'Class'], dtype='object')

In [19]:
# show the first 5 rows of the data
df.head()

  Mortality  Age   WCC    HB Diabetes           Class
0      Died   69  12.0  11.7      NaN  Non-infectious
1      Died   73   9.0  13.2      NaN  Non-infectious
2      Died   53  16.4  11.1      NaN  Non-infectious
3      Died   74  10.1  11.2  Type II      Infectious
4      Died   69  10.2  15.0   Type I      Infectious

In [20]:
# show info about df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Mortality  311 non-null    object
 1   Age        311 non-null    int64
 2   WCC        311 non-null    float64
 3   HB         311 non-null    float64
 4   Diabetes   213 non-null    object
 5   Class      311 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 14.7+ KB

# Categorical Data

- Testing categorical information and comparing multiple categorical variables

In [21]:
# show the first 10 rows of the mortality column
df['Mortality'].head(10)

0    Died
1    Died
2    Died
3    Died
4    Died
5    Died
6    Died
7    Died
8    Died
9    Died
Name: Mortality, dtype: object

In [22]:
# Calculate the distinct values of the Mortality column with unique
df['Mortality'].unique()

array(['Died', 'Survived'], dtype=object)

In [23]:
# calculate the frequency of each category in the Mortality column
df['Mortality'].value_counts()

Mortality
Survived    207
Died        104
Name: count, dtype: int64

In [24]:
# Calculate hte proportions of each category in the Mortality column
df['Mortality'].value_counts(normalize=True)

Mortality
Survived    0.665595
Died        0.334405
Name: proportion, dtype: float64

In [26]:
# Calculate the percentage of each category in the Mortality column
df['Mortality'].value_counts(normalize=True) * 100

Mortality
Survived    66.559486
Died        33.440514
Name: proportion, dtype: float64

In [27]:
# Calculate the unique elements in the Class column
df['Class'].unique()

array(['Non-infectious', 'Infectious'], dtype=object)

In [28]:
#Calculate the frequency of each category in the Class column
df['Class'].value_counts()

Class
Non-infectious    161
Infectious        150
Name: count, dtype: int64

In [30]:
# Calculate the percentages of each category in the Class column
df['Class'].value_counts(normalize=True) * 100

Class
Non-infectious    51.768489
Infectious        48.231511
Name: proportion, dtype: float64

In [33]:
# Make a neat table with counts of Class and Mortality columns
pd.crosstab(df['Class'], df['Mortality'])

Mortality       Died  Survived
Class
Infectious        49       101
Non-infectious    55       106

## Comparative numerical analysis

- Comparing one categorical and one numerical variable

In [35]:
# Calculate the mean of the Age column for each of the mortality categories
df.groupby('Mortality')['Age'].mean()

Mortality
Died        61.125000
Survived    54.111111
Name: Age, dtype: float64

## Numerical data analysis

- Comparing multiple numerical variables to each other

In [36]:
# Calculate the mean of the Age column
df['Age'].mean()

np.float64(56.456591639871384)

In [ ]:
# Calculate the sample standard deviation of the Age column, python defaults to sample standard deviation which is 1 degree of freedom
df.Age.std(ddof = 1)

np.float64(10.974334278749502)

In [40]:
# Describe the summary statistics of the Age column
df['Age'].describe()

count    311.000000
mean      56.456592
std       10.974334
min       23.000000
25%       49.000000
50%       56.000000
75%       64.000000
max       85.000000
Name: Age, dtype: float64

In [41]:
# Desribe the summary statistics of the Age column for each of the mortality categories
df.groupby('Mortality')['Age'].describe()

           count       mean        std   min    25%   50%   75%   max
Mortality
Died       104.0  61.125000   9.738012  45.0  52.75  61.0  69.0  77.0
Survived   207.0  54.111111  10.830209  23.0  47.00  53.0  60.0  85.0

In [45]:
# Calculate the correlation between the age and wcc columns
df.Age.corr(df.WCC)

np.float64(-0.0028512391858659236)

# 📊 Pandas Quiz: Essential Data Analysis Questions

## 🐼 Importing and Reading Data

**1️⃣ How do you import the pandas package in Python?**  
Import the `pandas` package using an alias for convenience.

**2️⃣ What function do you use to read a CSV file in pandas?**  
Use a built-in function to load a CSV file into a DataFrame.

## 🔍 Inspecting and Summarizing Data

**3️⃣ How do you display the first 5 rows of a DataFrame in pandas?**  
Call a method that returns the top rows of the DataFrame.

**4️⃣ How do you calculate the mean of a column named `Age` in a DataFrame named `df`?**  
Use a function to compute the average value of a specific column.

**5️⃣ How do you calculate the median of a column named `Salary` in a DataFrame named `df`?**  
Apply a method that finds the middle value in a column.

**6️⃣ How do you calculate the standard deviation of a column named `Score` in a DataFrame named `df`?**  
Utilize a statistical function to measure data dispersion.

**7️⃣ How do you find the number of missing values in each column of a DataFrame named `df`?**  
Identify and count missing values across all columns.

## 📈 Data Analysis and Filtering

**8️⃣ How do you calculate the correlation between two columns, `Age` and `Salary`, in a DataFrame named `df`?**  
Determine the statistical relationship between two numerical columns.

**9️⃣ How do you select a subset of a DataFrame `df` where the column `Age` is greater than 30?**  
Filter the DataFrame to include only rows that meet a condition.

**🔟 How do you calculate the range (maximum - minimum) of a column named `Score` in a DataFrame named `df`?**  
Find the difference between the highest and lowest values in a column.

## 📊 Grouping and Aggregation

**1️⃣1️⃣ How do you group a DataFrame `df` by a column named `Department` and calculate the mean of `Salary` within each group?**  
Group the data by department and compute the average salary per group.

**1️⃣2️⃣ How do you group a DataFrame `df` by two columns, `Department` and `Job Title`, and count the number of rows within each group?**  
Aggregate data based on multiple categories and count occurrences.

**1️⃣3️⃣ How do you use the `groupby` method to find the maximum `Age` in each `Department` in a DataFrame `df`?**  
Determine the oldest person in each department.

**1️⃣4️⃣ How do you create a cross-tabulation table that shows the frequency count of `Department` (rows) and `Job Title` (columns) in a DataFrame `df`?**  
Generate a summary table showing how many employees hold each job title within different departments.

**1️⃣5️⃣ How do you create a cross-tabulation table that shows the mean `Salary` for each combination of `Department` (rows) and `Job Title` (columns) in a DataFrame `df`?**  
Construct a table that displays the average salary for each job title within different departments.